boto3==1.17.85
botocore==1.20.85
certifi==2021.5.30
chardet==4.0.0
configparser==5.0.2
docutils==0.17.1
dropbox==11.10.0
entrypoints==0.3
flake8==3.9.2
htmlmin==0.1.12
idna==2.10
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
mccabe==0.6.1
ply==3.11
pycodestyle==2.7.0
pyflakes==2.3.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
stone==3.2.1
urllib3==1.26.5
